.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.arrow-down img{
	max-width: 100px;
}

h1{
	font-size: 5em;	
	font-family: "Copperplate",helvetica;
	line-height: 1em; 
}
.section{
	text-align:center;
}

.firstPage h1{
	font-family: "Antique";
	margin-bottom: 0;
}

.firstPage p:first-child{
	font-family: "Copperplate";	
	text-align: center;	
	margin-top: 20px;
	margin-bottom: 0px;	
}

@font-face{
	font-family: "Copperplate";
	src: url("Copperplate.ttc");
}

@font-face{
	font-family: "Antique";
	src: url("fonts/antique_book_cover.otf");
}

.sottotitolo{
	text-transform: uppercase;
}

.sottotitoloTaste{
	color: red;
}

h2.footer{
	margin-bottom: 0;
}

.firstPage .footer {
	position: absolute;
}

.footer {
	color: white;
	bottom: 0;
	background: rgb(195,40,47);
	min-width: 100%;
}

.slider-title {
	position: absolute;
	top: 0px;
	text-align: center;
	width: 100%;
	z-index: 10;
}

.slide .fullscreen {
	height: 100%;
}

#cities .roma {
	background-image: url('img/roma.jpg');
	background-size: cover;
}

#cities .milano {
	background-image: url('img/milano.jpg');
}

#cities .venezia {
	background-image: url('img/venezia.jpg');
}